body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #272525;
}

#icon2 {
    text-align: center;
}

.menu-iniciar {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px;
}

.menu-links {
    display: flex;
    /* Outros estilos conforme necessário */
}

.menu-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

/* Estilos para telas menores, como celulares */
@media (max-width: 768px) {
    .menu-iniciar {
        flex-direction: column;
        align-items: center;

    }
}

.menu-links {
    display: none;
    /* Oculte os links por padrão */
    width: 100%;
    text-align: center;
    /* Centralize os links */
}

.menu-links a {
    display: block;
    margin-bottom: 11px;
    margin-top: 7px;
    background-color: #474646;
    padding: 10px;
    text-align: center;
    margin-right: 17px;
}

.menu-btn {
    display: block;
    background-color: #ffffff;
    /* Cor branca */
    color: #000000;
    /* Cor do texto preto */
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 9px;
    font-size: 14px;

}



.banner {
    margin-top: 0px;
    text-align: center;
}

.banner img {
    max-width: 100%;
    height: auto;
}



.titulo1 {
    font-size: 23px;
    text-align: center;
    color: #fff;
    /* Cor do texto */
    padding: 20px;
    background: linear-gradient(to right, #DF2840, #0D6AAC);
    /* Degrade de azul para lilás */
    margin: 0;
    margin-top: 0;
}



.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo para a seção hero */
#hero {
    background-image: -moz-element();
    /* Cor de fundo azul */
    color: #fff;
    /* Cor do texto branco */
    text-align: center;
    padding: 40px 0;
    /* Espaçamento interno superior e inferior */
    margin-top: 0;
}

/* Estilo para o conteúdo da hero */
.hero-content {
    max-width: 800px;
    /* Largura máxima do conteúdo */
    margin: 0 auto;
    /* Centralizar o conteúdo na página */
}

/* Estilo para o título da hero */
.hero-content h1 {
    font-size: 35px;
    /* Tamanho da fonte grande */
}

/* Estilo para o parágrafo da hero */
.hero-content p {
    font-size: 1.2em;
    /* Tamanho da fonte menor */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

/* Estilo para o botão da hero */
.hero-content .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DF2840;
    /* Cor de fundo branca */
    color: #fff;
    /* Cor do texto azul */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    /* Borda arredondada */
    transition: background-color 0.3s ease;
    /* Transição suave da cor de fundo */
}

/* Efeito de hover para o botão da hero */
.hero-content .cta-button:hover {
    background-color: #2980b9;
    /* Cor de fundo azul mais escura */
    color: #fff;
    /* Cor do texto branca */
}

#contato {
    background-color: #363738;
    /* Cor de fundo da seção */
    color: #fff;
    /* Cor do texto */
    padding: 50px 0;
    text-align: center;
}

#contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contato p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #fff;
    /* Cor de fundo do botão */
    color: #1f2020;
    /* Cor do texto do botão */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #17c26d;
    /* Cor de fundo do botão ao passar o mouse */
    color: #fff;
    /* Cor do texto do botão ao passar o mouse */
}

#beneficios {
    padding: 10px 0;
    text-align: center;
    background-color: #131212;
}

#beneficios h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}



.p1 {

    display: none;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;


}

.li1 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-bottom: 9px;
    padding: 7px;
    background-color: #DF2840;
}


#rodape {
    text-align: center;
    color: #8f95ec;
}